In [ ]:
import random
print(random.randint(1,10))

8

In [ ]:
import random
fruits=["apple","banana","cherry","mango"]
print(random.choice(fruits))

cherry

In [ ]:
import random

participants=["rahul","sneha","arjun","pooja","kiran"]

random.shuffle(participants)

winner=participants[0]

print("participants:",participants)
print("luky draw winner is:",winner)

participants: ['pooja', 'kiran', 'arjun', 'rahul', 'sneha']
luky draw winner is: pooja

In [ ]:
import math
x=10
print(math.sqrt(x))

3.1622776601683795

In [ ]:
num=3.6789
rounded_num=round(num,2)
print("original number:",num)
print("rounded nuber:",rounded_num)

original number: 3.6789
rounded nuber: 3.68

In [ ]:
import calendar
print(calendar.month(2026,2))

   February 2026
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28

In [ ]:
import calendar
year=int(input("Enter the year:"))

Enter the year:1
                                   1

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                1  2  3  4
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       5  6  7  8  9 10 11
15 16 17 18 19 20 21      12 13 14 15 16 17 18      12 13 14 15 16 17 18
22 23 24 25 26 27 28      19 20 21 22 23 24 25      19 20 21 22 23 24 25
29 30 31                  26 27 28                  26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1          1  2  3  4  5  6                   1  2  3
 2  3  4  5  6  7  8       7  8  9 10 11 12 13       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      14 15 16 17 18 19 20      11 12 13 14 15 16 17
16 17 18 19 20 21 22      21 22 23 24 25 26 27      18 19 20 21 22 23 24
23 24 25 26 27 28 29      28 29 30 31               25 26 27 28 29 30
30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                      1  2
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       3  4  5  6  7  8  9
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      10 11 12 13 14 15 16
16 17 18 19 20 21 22      20 21 22 23 24 25 26      17 18 19 20 21 22 23
23 24 25 26 27 28 29      27 28 29 30 31            24 25 26 27 28 29 30
30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                      1  2
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       3  4  5  6  7  8  9
15 16 17 18 19 20 21      12 13 14 15 16 17 18      10 11 12 13 14 15 16
22 23 24 25 26 27 28      19 20 21 22 23 24 25      17 18 19 20 21 22 23
29 30 31                  26 27 28 29 30            24 25 26 27 28 29 30
                                                    31

In [ ]:
import calendar

year=int(input("Enter the year:"))
month=int(input("Enter the month:"))
day=int(input("Enter the day:"))

day_number=calendar.weekday(year,month,day)
day_name=calendar.day_name[day_number]

print(day_name)

Enter the year:2007
Enter the month:3
Enter the day:10
Saturday

In [ ]:
try:
    a=int(input("ENTER FIRST NUMMMBER"))
    b=int(input("ENTER SECOND NUMBER"))
    result=a / b
    print("Result:",result)

except ZeroDivisionError:
    print("ERROR! CANNOT DIVIDE BY ZERO")
except ValueError:
    print("ERROR! PLESE ENTER NUMBER ONLY")

ENTER FIRST NUMMMBER10
ENTER SECOND NUMBER0
ERROR! CANNOT DIVIDE BY ZERO

In [ ]:
import numpy as np
print(np.__version__)

2.0.2

In [ ]:
import numpy as np
arr=np.arry((10,20,30))
print(arr)

print(type(arr))

In [2]:
import numpy as np

a= np.array([10,20,30,40])
print(a[1]+a[3])

60

In [ ]:
import numpy as np
a=np.array([[10,20,30,40],[70,80,90,50]])
print(a[0,3])

40

In [ ]:
import numpy as np
arr=np.array([[[1,2,3],[4,5,6]],[[7,8,9],[10,11,12]]])
print(arr[1,1,2])

12

In [ ]:
import numpy as np

arr=np.array([[1,2,3,4,5],[6,7,8,9,10]])

print(arr[1,-1])

10

In [ ]:
import numpy as np
arr=np.array([1,2,3,4,5,6,7])
print(arr[1:5])

[2 3 4 5]

In [ ]:
import numpy as np
arr=np.array([1,2,3,4,5,6,7])
print(arr[-3:-1])

[5 6]

In [ ]:
impo

In [ ]:
import numpy as np
arr=np.array(['apple','banana','cheerrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrreeeerry'])
print(arr.dtype)

<U715

In [ ]:
import numpy as np
arr1=np.array([1,2,4])
arr2=np.array([4,5,6])
arr=np.concatenate((arr1,arr2))

print(arr)

[1 2 4 4 5 6]

In [ ]:
#Example for read csv File
import pandas as pd

df=pd.read_csv("student_marks.csv")
print(df)

    Name  Marks
0   Amit     78
1   Neha     85
2   Ravi     90
3  Pooja     88
4  Kiran     76

In [ ]:
#Example for read csv File
import pandas as pd

df=pd.read_csv("student_marks.csv")
print(df)

    Name  Marks
0   Amit     78
1   Neha     85
2   Ravi     90
3  Pooja     88
4  Kiran     76

In [ ]:
#Example for read csv File
import pandas as pd

df=pd.read_csv("student_marks.csv")
print(df)

    Name  Marks
0   Amit     78
1   Neha     85
2   Ravi     90
3  Pooja     88
4  Kiran     76

In [ ]:
import pandas as pd

df=pd.read_csv("student_marks.csv")
avg = df["Marks"].mean()

print("AVERAGE MARKS :,avg")

AVERAGE MARKS :,avg

In [ ]:
import pandas as pd
df =pd.read_csv("student_marks.csv")
# ADD NEW STUDENT CORRECTLY
df.loc[len(df)]={"Name":"RAHUL","Marks":82}
#save backto csv
df.to_csv("student_marks.csv",index=False)
print("STUDENT ADDED SUCCESSFULLY")
print(df)

STUDENT ADDED SUCCESSFULLY
    Name  Marks
0   Amit     78
1   Neha     85
2   Ravi     90
3  Pooja     88
4  Kiran     76
5  RAHUL     82
6  RAHUL     82